.truckstitle
{
  font-size: 40px;
  margin-top: 15px;
  padding-left: 900px;
}

.alignrow
{
  padding-left: 300px;
}

.filter
{
  padding-left: 900px;
}

.filterrow
{
  padding-left: 800px;
}
